.App {
  text-align: center;
}

/* Card CSS Settings */
#card {
  border: none;
  margin-top: 20px;
  width: 18rem;
}

/* Profile CSS Settings */
.profile-pic {
  margin-top: 10px;
  max-width: 10%;
  border-radius: 50%;
}

#name-box, #profile-bio {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

#name-box {
  margin-top: 20px;
  padding: 30px;
  max-width: 60%;
}

#profile-bio {
  margin-top: 10px;
  padding: 50px;
  max-width: 80%;
}

#item-box, .item-listing {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* A-La-Carte Page */
.view-cart {
  justify-content: flex-end;
}

.gear-type-col {
  border-right: 2px solid gray;
  height: 500px;
}

#btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gt-btn {
  margin: 10px;
}

.item-listing {
  flex-wrap: wrap;
}